/* Panier.css */

.panier-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .total-container {
    margin-top: 20px;
    text-align: right;
  }
  .panier-button{
    margin-top: 100px;
  }