/* .signin{
    margin-top: 50px;
    margin-left: 700px;
    border: 1px black solid;
    border-radius: 7px;
 
    width: 300px;
    height: 350px;
    
    text-align: center;

}
.inputs{
    display: flex;
    flex-direction: column;
width: 300px;
} */

#sign {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin: auto auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .12);
}

#sign h4 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    opacity: 0.85;
}

#sign label {
    font-size: 12.5px;
    color: #000;
    opacity: 0.8;
    font-weight: 400;
}

#sign form {
    padding: 40px 30px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}

#sign form h4 {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, .5);
}

#sign form h4 span {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
}

#sign form p {
    line-height: 155%;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    opacity: 0.65;
    font-weight: 400;
    max-width: 200px;
    margin-bottom: 40px;
}

#sign a.discrete {
    color: rgba(0, 0, 0, .4);
    font-size: 14px;
    border-bottom: solid 1px rgba(0, 0, 0, .0);
    padding-bottom: 4px;
    margin-left: auto;
    font-weight: 300;
    transition: all 0.3s ease;
    margin-top: 40px;
}

#sign a.discrete:hover {
    border-bottom: solid 1px rgba(0, 0, 0, .2);
}

#sign button {

    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    margin-top: 5px;
    background-color: #b08bf8;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .13);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
}

#sign button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(182, 157, 230, .65);
}

#sign button:hover:active {
    transform: scale(0.99);
}

#sign input {
    font-size: 16px;
    padding: 20px 0px;
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    background: #fff;
    min-width: 280px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #000;
    font-weight: 400;

}

#sign input:focus {
    border-bottom: solid 1px #b69de6;
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(182, 157, 230, .45);
}

#sign .floating-label {
    position: relative;
    margin-bottom: 10px;
}

#sign .floating-label label {
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

#sign .floating-label input:not(:placeholder-shown) {
    padding: 28px 0px 12px 0px;
}

#sign .floating-label input:not(:placeholder-shown)+label {
    transform: translateY(-10px);
    opacity: 0.7;
}

#sign .session {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: auto auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .12);
}

#sign .left {
    width: 220px;
    height: auto;
    min-height: 100%;
    position: relative;
    background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#sign .left svg {
    height: 40px;
    width: auto;
    margin: 20px;
}